<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body ng-app = "VisitorApp" ng-controller = "VisitorDetailsController">
<div class = "animated slideInUp container bg-warning">
    <ul class="breadcrumb">
        <ul class="nav nav-pills">
            <li><a href="/#/Coverpage"><span class="fa fa-home fa-2x"></span></a></li>
        </ul>
        <h3 class ="text-center text-danger">Visitors</h3>
        <h3></h3>
        <div class ="wrapper">
            <input type ="text" ng-model="search.FirstName"/>
            <div class = "fa fa-search fa-lg"></div>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th><a class='fa fa-sort' ng-click ="sortProperty = 'name'; sortDirection = !sortDirection"><b>&nbsp;FirstName<b></a></th>
                <th><a class='fa fa-sort' ng-click ="sortProperty = 'name'; sortDirection = !sortDirection"><b>&nbsp;LastName</b></a></th>
                <th><a class='fa fa-sort' ng-click ="sortProperty = 'name'; sortDirection = !sortDirection"><b>&nbsp;Visiting</b></a></th>
                <th><a class='fa fa-sort' ng-click ="sortProperty = 'name'; sortDirection = !sortDirection"><b>&nbsp;Purpose Of Visit</b></a></th>
                <th><a class='fa fa-sort'ng-click ="sortProperty = 'name'; sortDirection = !sortDirection"><b>&nbsp;Date and Time of Visit</b></a></th>
                <th><a class = text-primary>View/Edit/Delete</a></th>
            </tr>
            <tr ng-repeat="detail in details | filter:search | orderBy:sortProperty:sortDirection"><br/>
                <td>{{detail.FirstName}}</td>
                <td>{{detail.LastName}}</td>
                <td>{{detail.Person}}</td>
                <td>{{detail.Visit}}</td>
                <td>{{detail.Date}}</td>
                <td class="fa fa-eye fa-lg" data-toggle="modal" data-target="#yesmodal"data-dismiss="modal" ng-click="submitForm(detail.UUID)"></td>
                <td class="fa fa-pencil fa-lg" data-toggle="modal" data-target="#mymodal"data-dismiss="modal"  ng-click="submitForm(detail.UUID)"></td>
                <td class="fa fa-trash fa-lg" data-toggle="modal" data-target="#deletemodal"data-dismiss="modal"  ng-click="submitForm(detail.UUID)"></td>
            </tr>
        </table>
    </ul>
</div>


<!-- REGISTRATION SUCCESSFUL SHOW PROFILE OF A VISITOR MODAL DIALOG -->
<div class="animated rotateIn modal fade" id = "yesmodal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class = "bg-danger text-center"><strong>Visitor</strong></h2>
            </div>
            <div class = "modal-body">
                <img style = "float:right; width: 150px; height: 200px" ngf-thumbnail="img" class ="img" />
                <h4>FirstName: &nbsp;<b>{{detail.FirstName }}</b></h4>
                <h4>LastName:  &nbsp;<b>{{detail.LastName }}</b></h4>
                <h4>Company:  &nbsp;<b>{{detail.Company }}</b></h4>
                <h4>JobTitle:  &nbsp;<b>{{detail.JobTitle }}</b></h4>
                <h4>Email:  &nbsp; <b>{{detail.Email }}</b></h4>
                <h4>MobileNumber:  &nbsp;<b>{{detail.MobileNumber }}</b></h4>
                <h4>Visiting:  &nbsp;<b>{{detail.Person }}</b></h4>
                <h4>Purpose Of Visit:  &nbsp;<b>{{detail.Visit}}</b></h4>
                <h4>Date and Time Of Visit:  &nbsp;<b>{{date}}</b></h4>
            </div>
            <footer>
                <p class = "text-center">&copy; Company 2016</p>
            </footer>
        </div>
    </div>
</div>


<!-- REGISTRATION MODAL DIALOG WITH ALL VISITOR DETAILS-->
<div class="animated flipInX modal fade" id = "mymodal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header bg-warning">
                <button type="button"onclick="javascript:window.location.reload()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="text-center">VisitorDetails</h4>
            </div>
            <div class = "modal-body">
                <!--Visitor Form Entries -->
                <form data-toggle="validator" name="registerForm" novalidate>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10" ng-class ="{ 'has-error': registerForm.FirstName.$invalid && (registerForm.FirstName.$dirty || submitted)}">
                            <label for="FirstName">FirstName</label><span style="color:red;">*</span>
                            <input type= "text"  class="form-control" name="FirstName" ng-model="detail.FirstName" id="FirstName"required ng-minlength="3">
                            <p ng-if ="registerForm.FirstName.$error.minlength && (registerForm.FirstName.$dirty || submitted)" class ="help-block">
                                FirstName must be minimum 3 characters long!</p>
                        </div>
                    </div>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10" ng-class ="{ 'has-error': registerForm.LastName.$invalid && (registerForm.LastName.$dirty || submitted)}">
                            <label for="LastName">LastName</label><span style="color:red;">*</span>
                            <input type = "text" class="form-control" name="LastName" ng-model="detail.LastName" id="LastName" required>
                            <p ng-if ="registerForm.LastName.$error.required && (registerForm.LastName.$dirty || submitted)" class ="help-block">
                                Please enter your LastName!</p>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-xs-push-1 col-md-10">
                            <label for = "Company">Company</label>
                            <input type = "text" class="form-control" name="Company" ng-model="detail.Company" id="Company">
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "form-group col-xs-push-1 col-md-10">
                            <label for = "JobTitle">JobTitle</label>
                            <input type = "text" class="form-control" name="JobTitle" ng-model="detail.JobTitle" id="JobTitle">
                        </div>
                    </div>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10" ng-class ="{ 'has-error': registerForm.email.$invalid && (registerForm.email.$dirty || submitted)}">
                            <label for = "email">Email</label><span style="color:red;">*</span>
                            <input type = "email" class="form-control" name="email" ng-pattern="/\S+@\S+\.\S+/" ng-model="detail.Email" id="email" required>
                            <p ng-if="registerForm.email.$error.required && (registerForm.email.$dirty || submitted)" class="help-block">Please enter your Email address.</p>
                            <p ng-if="registerForm.email.$error.pattern && (registerForm.email.$dirty || submitted)">Invalid email address.</p>
                        </div>
                    </div>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10">
                            <label for = "MobileNumber">MobileNumber</label>
                            <input type = "MobileNumber" class="form-control" name="mobile" ng-pattern="/^[2-9]{2}[0-9]{8}$/" ng-model="detail.MobileNumber" id="mobilenumber">
                            <p ng-if="registerForm.mobile.$error.pattern" class ="help-block">Please enter a valid mobile number</p>
                        </div>
                    </div>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10" ng-class ="{ 'has-error': registerForm.Person.$invalid && (registerForm.Person.$dirty || submitted)}">
                            <label for = "Person">Visiting?</label><span style="color:red;">*</span>
                            <input type = "text" class="form-control" name="Person" ng-model="detail.Person" id="Person" required>
                            <p ng-if="registerForm.Person.$error.required && (registerForm.Person.$dirty || submitted)" class="help-block">Who are you here to see?</p>
                        </div>
                    </div>
                    <div class ="row">
                        <div class = "form-group col-xs-push-1 col-md-10" ng-class ="{ 'has-error': registerForm.Visit.$invalid && (registerForm.Visit.$dirty || submitted)}">
                            <label for = "Visit">Purpose of Visit</label><span style="color:red;">*</span>
                            <input type = "text" class="form-control" name="Visit" ng-model="detail.Visit" id="Visit"required>
                            <p ng-if ="registerForm.Visit.$error.required && (registerForm.Visit.$dirty || submitted)" class ="help-block">
                                Enter the purpose of visit!</p>
                        </div>
                    </div>
                    <div class ="row">
                        <div class="form-group col-sm-push-1 col-sm-10">
                            <div><button ngf-select="onFileSelect($files)" name="Image" ng-model="detail.Image" accept="image/png, image/jpeg" data-toggle="tooltip" data-placement="right" title="Kindly upload the image">Upload Photo</button></div>
                        </div>
                        <div class="form-group col-sm-push-1 col-sm-10">
                            <img ngf-thumbnail="detail.Image" ngf-size ="{width: 120, height: 120, quality: 0.9}"/>
                        </div>
                    </div>
                </form>
                <div class = "modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal" ng-disabled="registerForm.$invalid" data-toggle="modal" data-target="#savemodal" ng-click="EditandSaveVisitorRegistration(detail.UUID,detail)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p class = "text-center">&copy; Company 2016</p>
</footer>


<!-- REGISTRATION SUCCESSFUL MODAL DIALOG -->
<div class="animated rotateInUpRight modal fade" id = "savemodal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Welcome</h3>
            </div>
            <div class = "modal-body">
                <p>Registration of '{{ vName }}' is successful</p>
            </div>
        </div>
    </div>
</div>

<!-- ELIMINATION SUCCESSFUL MODAL DIALOG -->
<div class="animated lightSpeedIn modal fade" id = "deletemodal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Welcome</h3>
            </div>
            <div class = "modal-body">
                <p>Do you want to delete the user '{{detail.FirstName}}' ? </p>
            </div>
            <div class = "modal-footer">
                <button class="btn btn-success" data-dismiss="modal" ng-click ="DeleteVisitorRegistration(detail.UUID)">Confirm</a></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
